<script type="text/Javascript">
	$(document).ready(function() 
	    { 
	        $("#myTable").tablesorter( {sortList: [[6,0]]} ); 
	    } 
	); 
	    	    
</script>
<div style="clear:right;padding-bottom:5px;">
	<h1>Training Data</h1>
	Test Data for Intuitive Crafters. <a href="#findeq">Start</a>
</div>
<table id="myTable" class="tablesorter">
	<thead>
	<tr>
		<th class="header">Role</th><th class="header">Ivy</th><th class="header">Writing Style</th><th class="header">Industry</th><th class="header">Risk Level</th><th class="header">Sent to</th><th class="header">Tone</th>
	</tr>
	</thead>
	<tbody>
	{{#each .}}

	<tr>
		<td>{{role}}</td>
		<td>{{ivy}}</td>
		<td>{{wr_style}}</td>
		<td>{{industry}}</td>
		<td>{{risklevel}}</td>
		<td>{{sentto}}</td>
		<td>{{tone}}</td>
	</tr>
	{{/each}}
	</tbody>
</table>

