<table>
	<tr>
		<th>Role</th><th>Ivy</th><th>Writing Style</th><th>Industry</th><th>Risk Level</th><th>Sent to</th><th>Tone</th>
	</tr>

	{{#each .}}

	<tr>
		<td>{{role}}</td>
		<td>{{ivy}}</td>
		<td>{{wr_style}}</td>
		<td>{{industry}}</td>
		<td>{{risklevel}}</td>
		<td>{{sentto}}</td>
		<td>{{tone}}</td>
	</tr>
	{{/each}}
</table>